@font-face {
    font-family: RobotoBlack;
    src: url(fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: PassionOneRegular;
    src: url(fonts/Passion_One/PassionOne-Regular.ttf);
}

@font-face {
    font-family: PassionOneBold;
    src: url(fonts/Passion_One/PassionOne-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-size: 6px;
    font-family: RobotoRegular, sans-serif, Helvetica, Arial;
}
