.Training__Memory__Topological {
    font-size: 2.5em;
}

.Topological__Sidebar {
    display: block;
    position: absolute;
    top: 0;
    width: 250px;
    padding: 45px 22px 0 16px;
    height: calc(100% - 50px);
    background-color: #F9F1E4;
    z-index: -1;
}

.Topological__WorkingPlace {
    display: block;
    position: absolute;
    top: 0;
    width: calc(100% - 340px);
    height: calc(100% - 75px);
    margin: 0 0 0 300px;
    padding: 75px 0 0 25px;
    background-color: #F9F1E4;
    z-index: -1;
}

.Training__Topological__Item {
    display: inline-block;
    width: 76px;
    padding: 8px;
    text-align: center;
    margin: 16px;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 52px;
    font-weight: bold;
    color: rgb(64, 48, 32);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
}

.Training__IndicatorLamps,
.Training__ActionResult,
.Training__ActionTask,
.Training__Details {
    display: block;
    text-align: center;
    width: 100%;
    height: 100px;
    margin: 0 0 8px 0;
    background-color: #f9f1e4;
    border: 2px solid rgba(0,0,0,0.15);
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.25);
}

.Training__ActionResult__Value {
    padding: 12% 0 0 0;
}

.Training__ActionTask,
.Training__Details {
    padding: 18px 0;
}

.Training__Details > button {
    display: block;
    width: 100%;
    height: 32px;
    margin: 0 0 4px 0;
}

.Training__ActionTask__Value {
    text-align: center;
    padding: 25% 0;
    font-size: 56px;
    font-family: RobotoRegular, sans-serif, Helvetica, Arial;
}

.Training__ActionTask__Value {
    text-align: center;
    padding: 10% 0;
    font-size: 52px;
    font-weight: bold;
    font-family: sans-serif, Helvetica, Arial;
}

table td {
    font-size: 16px;
    text-align: right;
    padding: 0 0 0 16px;
}
table {
    margin: 0 0 8px 0;
}
table input {
    max-width: 64px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #aeaeae;
}

.Training__Details__TrainingsCountInput {
    width: calc(100% - 12px);
    margin: 4px;
    text-align: center;
}

.cont_lamps {
    display: block;
}

.lamp_error,
.lamp_ok {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 50%;
}

.lamp_error {
    background: radial-gradient(ellipse at center, #ff5542 0%,#cf0404 100%);
    box-shadow: 0 0 16px #ff0000;
    margin: 16px 16px 0 0;
    opacity: 0.2;
    transition: opacity 0.2s;
}

.lamp_ok {
    background: radial-gradient(ellipse at center, #1ae45d 0%,#149b41 100%);
    box-shadow: 0 0 16px #118337;
    margin: 16px 0 0 16px;
    opacity: 0.2;
    transition: opacity 0.2s;
}

.Cont_CtrlButtons {
    display: block;
    text-align: center;
    background-color: #f9f1e4;
    border: 2px solid rgba(0,0,0,0.15);
    border-radius: 16px;
    box-shadow: inset 0px 0px 16px rgba(0,0,0,0.25);
}

.ctrlButton {
    display: inline-block;
    height: 64px;
    width: 64px;
    margin: 16px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-image: linear-gradient(to top, #f4f1ee, #fff);
    border-radius: 50%;
    border: none;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.ctrlButton:focus {
    outline: none;
}

.ctrlButton:hover {
    background-image: linear-gradient(to top, #fff, #f4f1ee);
    color:#0088cc;
}

.ctrlButton:active {
    background-image: linear-gradient(to top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.ctrlBtn_start:after {
    content: '▶';
    display: block;
    position: absolute;
    font-size: 32px;
    color: #45a752;
    margin: 15px 0 0 21px;
}

.ctrlBtn_stop:after {
    content: '◼';
    display: block;
    position: absolute;
    font-size: 32px;
    color: #c26028;
    margin: 15px 0 0 19px;
}
