/* flipper */

.flip-container {
    display: inline-block;
    perspective: 1000px;
    margin: 32px 32px;
}

/*.flip-container:hover .flipper {
    transform: rotateY(180deg);
}*/

.flip-container, 
.front, 
.back {
    width: 76px;
    height: 76px;
}

.flipper {
    transition: 0.25s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
    width: 76px;
    padding: 12px 0 0 0;
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 52px;
    font-weight: bold;
    color: rgb(64, 48, 32);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
}

.back {
    transform: rotateY(180deg);
    width: 76px;
    padding: 12px 0 0 0;
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 52px;
    font-weight: bold;
    color: rgb(64, 48, 32);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
}
