.UserControlPanel {
    display: block;
    float: right;
}

.UCP__Button {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px 12px 0 0;
    background-color: #ffe;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: 0.25s;
}

.UCP__Button > img {
    width: 40px;
    height: 40px;
    opacity: 0.75;
    border-radius: 50%;
    transition: 0.25s;
}

.UCP__Button:hover {
    opacity: 1;
    box-shadow: 0 2px 32px rgba(0, 0, 0, 0.75);
}

.UCP__Button:focus {
    outline: none;
}

.UCP__Button:hover img {
    opacity: 1;
}

.UserControl__Menu {
    display: none;
    position: absolute;
    top: 85px;
    right: 8px;
    min-width: 75px;
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.UC__Menu__Btn {
    display: block;
    border: none;
    background-color: #fff;
    width: 100%;
    height: 32px;
    font-family: RobotoRegular;
    font-size: 2.25em;
    border-radius: 4px;
}

.UC__Menu__Btn:hover {
    background-color: #046791;
    color: #fff;
}

.UC__Menu__Btn:focus {
    outline: none;
}

.UserControl__Menu-show {
    display: block;
}