/* .App {

} */

/* Toolbar */
  
.NavBar {
    display: block;
    width: 100%;
    background-color: #17415F;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

.NavBar__Buttons {
    float: left;
    margin: 8px;
    top: 0;
    left: 0;
}

.InlineIndent {
    margin-right: 128px;
}

.LogoButton {
    display: inline-block;
    border: none;
    color: #fff;
}
.LogoButton > img {
    position: absolute;
    top: 5px;
    left: 3px;
    width: 32px;
    height: 32px;
}
.LogoButton > span {
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 42px;
    margin: 4px 0 0 0;
    font-family: PassionOneRegular, sans-serif, Helvetica, Arial;
    letter-spacing: 1px;
    font-size: 3em;
}

.ToolButton {
    font-size: 2.5em;
    height: 24px;
    padding: 0 12px;
    margin: 0 4px;
    border: none;
    color: #fff;
    background-color: transparent;
    border-radius: 8px;
    transition: 0.25s;
}
.ToolButton:hover {
    background-color: #fff;
    color: #333;
}
.ToolButton:focus {
    outline: none;
}

/* ---------------------------------------------------------------------------- */

.AppMainToolBar {
    width: 100%;
    text-align: left;
}
