.LanguageControlPanel {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 7px 84px 0 0;
    padding: 2px;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.25s;
}

.LanguageControlPanel:hover {
    background-color: rgba(255,255,255,0.75);
}

.LanguageControlPanel-active {
    background-color: rgba(255,255,255,0.75);
}

.UiLangCurrBtn,
.UiLangBtn {
    display: block;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 4px;
}

.LCP__List {
    display: none;
}

.LangListMenu-show {
    display: block;
}

.svgFlagUiLang {
    background-color: transparent;
    width: 32px;
    height: 24px;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
    transition: 0.25s;
}
.svgFlagUiLang:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.75);
}

.svgFlagTopMargin {
    margin: 4px 0 0 0;
}
