.LoginForm {
    display: block;
    width: 300px;
    margin: 100px calc(50% - 150px);
}

.LoginForm__Title__TabBtn {
    display: inline-block;
    color: #c3c3c3;
    background-color: #fff;
    border: none;
    margin: 0 8px;
    font-size: 2.5em;
    font-weight: bold;
}

.LoginForm__Title__TabBtn:focus {
    outline: none;
}

.LoginForm__Title__TabBtn-active {
    color: #000;
}

.LoginForm__Title {
    display: block;
    text-align: center;
    margin: 0 0 16px 0;
}

.LoginForm__Fields__TextField {
    display: block;
    width: calc(100% - 20px);
    margin: 8px 0;
    padding: 8px;
    border: 1px solid aeaeae;
    border-radius: 8px;
    font-size: 2.5em;
    border: 1px solid #e0e0e0;
}
.LoginForm__Fields__TextField:focus {
    outline: none;
}

.LoginForn__SubmitBtn {
    font-size: 2.5em;
    font-weight: bold;
    background-color: #eefafe;
    width: 100%;
    padding: 8px;
    margin: 8px 0 0 0;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    transition: 0.25s;
}

.LoginForm__Fields__TextField-hide {
    display: none;
}

.LoginForn__SubmitBtn:hover {
    color: #eefafe;
    background-color: #12890e;
}

.LoginForn__SubmitBtn:focus {
    outline: none;
}

[id="idLoginTitleGrSignIn"]:checked ~ [for="idLoginTitleGrSignIn"] {
    color: #000;
}

[id="idLoginTitleGrSignUp"]:checked ~ [for="idLoginTitleGrSignUp"] {
    color: #000;
}

[id="idLoginTitleGrReset"]:checked ~ [for="idLoginTitleGrReset"] {
    color: #000;
}
